/* custom css here. */
.bg-red-100 {
    background-color: rgb(254 226 226);
}
.bg-red-950 {
    background-color: rgb(69 10 10);
}
.bg-amber-300{
    background-color: rgb(252 211 77);
}
.disclaimer-text{
    color: #34495E;
}
table tbody td {
    border-bottom-width: 1px;
    border-style: solid;
    border-bottom-color: rgb(59 130 246 / 0.1);
}
