/* custom css here. */
.bg-slate-500 {
    background-color: rgb(100 116 139);
}
.text-yellow-200 {
    color: rgb(254 240 138);
}
table tbody td {
    border-bottom-width: 1px;
    border-style: solid;
    border-bottom-color: rgb(59 130 246 / 0.1);
}
.margin-bottom {
    margin-bottom: 15px;
}